.item {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 32px;

    .dragIcon {
        position: absolute;
        left: 0;
    }

    .el {

        span {

            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    }

}
