.item {
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 272px;
    min-height: 208px;

    .img {
        /*mix-blend-mode: multiply;*/
    }

    .price {

        display: flex;
        align-items: center;
        text-align: center;
        gap: 8px;

    }

    .counter {
        position: absolute;
        top: 0;
        right: 0;
    }
}

.item_ondrag {
    opacity: 0.5;
    transition: opacity 0.2s ease-in-out;
}