{
	"semi": false,
	"tabWidth": 2,
	"useTabs": true,
	"printWidth": 120,
	"singleQuote": true,
	"bracketSpacing": true,
	"bracketSameLine": true,
	"arrowParens": "avoid",
	"trailingComma": "none",
	"endOfLine": "auto",
	"importOrder": [
		"<THIRD_PARTY_MODULES>",
		"^@nbcom",
		"^components/(.*)$",
		"^mocks/(.*)$",
		"^assets/(.*)$",
		"^config/(.*)$",
		"^lib/(.*)$",
		"^services/(.*)$",
		"^hocs/(.*)$",
		"^hooks/(.*)$",
		"^store/(.*)$",
		"^@/app/(.*)$",
		"^@/screens/(.*)$",
		"^@/screensComponents/(.*)$",
		"^@/widgets/(.*)$",
		"^@/widgetsNew/(.*)$",
		"^@/features/(.*)$",
		"^@/entities/(.*)$",
		"^@/shared/(.*)$",
		"^../(.*)",
		"^./[^.]+(?!\\.module\\.scss)$",
		"^.+\\.module\\.scss$"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"importOrderCaseInsensitive": true
}
